:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  color: #333333;
  background-color: #f5f5f5;
}


a {
  text-decoration: none;
}

a:hover {
  color: #0077cc;
}



body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 10%;
  padding: 0;
  margin: 0;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #C0D6DF;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #4F6D7A;
}

button:hover {
  border-color: #4F6D7A;
  background-color: #4F6D7A;
  color: #DBE9EE;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #DBE9EE
}

.header {
  background-color: #166088;
  color: #DBE9EE;
  padding: 1px;
  display: grid;
  grid-template-columns: auto 10%;
  text-align: center;
}

.toggle-user-container {
  height: 80px
}

.user-avatar {
  max-height: 100%;
}

.navbar {
  background-color: #DBE9EE;
  color: #4F6D7A;
  padding: 10px;
  justify-content: space-evenly;
  display: flex;
  margin: 0;
  padding: 0;

}

.nav-button {
  background-color: #C0D6DF;
  color: #4F6D7A;
  min-width: 30%;
  min-height: 100%;
  box-sizing: border-box;
}

.article_list {
  background-color: #DBE9EE;
  color: #4F6D7A;
  padding: 10px;
  min-height: 1000px;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article_card {
  background-color: #ffffff;
  max-width: 100%;
  box-sizing: border-box;
  border: solid 1px #dddddd;
  margin: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.article_card_image {
  max-width: 80%
}

.linkBox {
  cursor: pointer;
}


ul {
  list-style: none;
}


.like-comment,
.like-comment-article_full {
  background-color: #C0D6DF;
  justify-content: space-evenly;
  display: flex;
  margin: 0;
  min-width: 100%;
  color: 4F6D7A;
}

.full-article {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  color: #166088;
}

.article_full {
  flex: 2;
  padding: 20px;
  background-color: #ffffff;
}

#article-full-h1 {
  color: #166088;
}

.image-container {
  float: left;
  width: 500px;
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.article_body {
  font-size: larger
}

.comment_list {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-like {
  display: flex;
}

.comment-card {
  border: 1px solid #166088;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;

}