:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  color: #333333;
  background-color: #f5f5f5;
}

body {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 10%;
  padding: 0;
  margin: 0;
}

.profile-body {
  display: flex;
  justify-content: center;
  max-width: 80%
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #0077cc;
}

.navbar {
  background-color: #dbe9ee;
  color: #4F6D7A;
  padding: 10px;
  justify-content: space-evenly;
  display: flex;
  margin: 0;
  padding: 0;
  max-height: 2.5em;
}

button,
.nav-link,
.nav-container {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  min-width: 30%;
  min-height: 100%;
  font-weight: 500;
  font-family: inherit;
  background-color: #C0D6DF;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #4F6D7A;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

}

button:hover,
.nav-link:hover,
.nav-button:hover {
  border-color: #4F6D7A;
  background-color: #4F6D7A;
  color: #DBE9EE;
}

ul.topics {
  position: absolute;
  left: 0;
  display: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 0.5em;
  z-index: 1;
  text-transform: capitalize;
}

.nav-container:hover ul.topics {
  display: block;
  width: 30%;
  background-color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #DBE9EE;
  margin-bottom: 0;
}

.header {
  background-color: #166088;
  color: #DBE9EE;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 15%;
  grid-template-rows: 8em 5em;
  justify-content: first baseline;
  padding-right: 2em;
  text-align: center;
  max-height: 10rem;
  max-width: 100%;
  padding-top: 0
}

.topic {
  text-align: center;
}

.topic-header {
  text-transform: capitalize;
}

.toggle-user-container {
  width: 8em;
  height: 8em;
  margin-top: 2em;
  display: flex;
  float: right;
  flex-direction: column;
  align-items: center;
  background-color: #DBE9EE
}

.user-avatar {
  max-height: 6em;
  max-width: 8em
}

.header-sort-order {
  display: flex;
}

.order-button {
  max-height: 2em;
  max-width: 0
}

.article_list {
  background-color: #DBE9EE;
  color: #4F6D7A;
  padding: 10px;
  min-height: 1000px;
  max-width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.article_card {
  background-color: #ffffff;
  max-width: 100%;
  box-sizing: border-box;
  border: solid 1px #dddddd;
  margin: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.article_card_image {
  max-width: 80%
}


.linkBox {
  cursor: pointer;
}


ul {
  list-style: none;
  margin: none;
}


.like-comment,
.like-comment-article_full {
  background-color: #C0D6DF;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 100%;
  color: 4F6D7A;
}

.like-comment-article_full {
  padding-right: 2em
}

.vote-button {
  min-width: 0%;
}

.vote-button-container {
  display: flex;
}

.comment-button {
  align-self: right;
}

.full-article {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  color: #166088;
}

footer {
  display: grid;
  grid-template-columns: 30em 30em;

}


.article_full {
  flex: 2;
  padding: 20px;
  background-color: #ffffff;
}

#article-full-h1 {
  color: #166088;
}

.image-container {
  float: left;
  max-width: 500px;
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.article_body {
  font-size: larger
}

.comment_list {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-header {
  display: flex;
  background-color: #C0D6DF;
  margin-top: 0;
  padding-left: 1em
}

.comment-container {
  display: flex;
  justify-content: space-between;
  height: 3em;
  padding-left: 2em
}

.comment-like-container {
  display: flex;
  background-color: #C0D6DF;
}

.comment-card {
  border: 1px solid #166088;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  /* padding: 1em; */
  margin-bottom: 1em;

}

.delete-button {
  min-width: 0;
  background-color: #d56d65;
  color: #166088;
  max-height: 1em;
}

.profile-body {
  margin: auto
}

.error {
  color: red;
  font-size: small;
  float: left;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-rows: auto 15%;
  }

  .header {
    grid-template-columns: auto;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0;
  }

  .toggle-user-container {
    display: none;
  }

  .user-avatar {
    display: none;
  }
}

.comment-adder-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 2em
}

.comment-adder {
  display: flex;
  flex-direction: column;
}

.comment-adder label {
  align-self: flex-start;
  margin-bottom: 8px;
}

.comment-adder textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}


.comment-adder-footer {
  display: flex;
}

#newComment {
  font-size: 16px;
  height: 3em
}

.error {
  color: red;
  margin-top: 8px;
}

.error-page {
  display: flex;
  flex-direction: column;
  background-color: #dbe9ee;
  min-height: 100%;
  color: #166088;
}

.error-text-h3 {
  color: #166088;
  max-width: 80%;
  margin-left: 15%
}

.error-image {
  min-width: 50%;
  max-width: 100%
}